:root {
  --color-section: #ffffff;
}

.unstyled-list {
  list-style: none;
}

body {
  font-family: "Roboto", "raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #212121;
}

.link {
  color: #212121;
  text-decoration: none;
}
.link:hover {
  color: #2196f3;
}

.link:focus {
  color: magenta;
}

.logo-selection {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  color: #000000;
}
.color-logo {
  color: #2196f3;
}

.main-page-section,
.footer {
  background: #2f303a;
}

.title-page {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-section);
}

.button-studio {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-section);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.sub-title-section {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.text-section {
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.ocupation {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #757575;
}

.image-studio {
  width: 270px;
  height: 260px;
}

.page-header {
  background: var(--color-section);
}
.company-team {
  background: #f5f4fa;
}

.contact-footer {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.contact-footer:hover {
  color: #2196f3;
}

.contact-footer:focus {
  color: magenta;
}
.adress-footer {
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--color-section);
}

.footer .logo-selection {
  color: var(--color-section);
}
/* PAGE PORTFOLIO */

.button-section {
  color: #e5e5e5;
}

.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}

.button-portfolio-main {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--color-section);
  background: #2196f3;
  border-radius: 4px;
  cursor: pointer;
}
.products .description {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.products .domain {
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}

.image-portfolio {
  width: 370px;
  height: 294px;
}
